
body {
    /* width: 500px;*/
    background:
    url("img/fon1.jpg");
    font-family: arial;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    
    
}   

.cards{
    display: flex;
    /*justify-content: center;*/
    width: 109.625rem;
    height: 91.5rem;
    
}
.card {
    margin: 0;
    width: 500px;
    background-color: rgb(53, 2, 173);
    /*box-shadow: 0 15px 20px #ccc;*/
    border-radius: 0.625rem;
    padding: 1.875rem;
}
.card2 {
    margin: 0;
    padding: 2.5rem;
    width: 500px;
    background-color: rgb(255, 255, 255);
    /*box-shadow: 0 15px 20px #ccc;*/
    border-radius: 10px;
}

.card__foto {
    display: block;
    width: 23.25rem;
    /*height: 31.25rem;*/
    /*border-radius: 50%;*/
    margin: 0;
}   
.head__one {
    margin: 0   ;
    font-size: 2.5rem;
    color: rgb(87 202 210);
    padding-left: 0.9375rem;
}
.subtitle {
    color: rgb(87 202 210);
    margin: 0 auto;
    font-size: 2.5rem;
    margin-bottom: 10px;
    background: rgb(77, 3, 248);
    padding-left: 1.875rem;
    border-radius: 0.9375rem;
    /*line-height: 0.5;*/
}
.card__list {
    margin: 0 auto;
    font-size: 1.5625rem;
    padding-left: 0px;
    list-style-position: inside;
    color:rgb(255, 255, 255);
}
.head__two{
    font-size: 1.875rem;
    color: #ccc;
    padding-left: 1.875rem;
}
.courses{
    font-weight: bold;
    font-size: 1.75rem;
    color:aliceblue;
    line-height: 0.8;
}
.subtitle2{
    border-radius: 10px;
    background: rgb(77, 3, 248);
    padding-left: 1.875rem;
    
}
.foto__mini{
    width: 3.125rem;
    /*height: 20px;*/
    float:left;
    margin-top: 0.375rem;
    margin-left: -0.5625rem;
    margin-right: 0.9375rem;
}
.all{
    color:aliceblue;
    font-size: 1.5625rem;
    line-height: 0.5;
    padding-left: 0.375rem;
    text-decoration:none
}
.card__list1{
    color:rgb(154, 153, 153)
}
.courses1{
    font-weight: bold;
    font-size: 1.75rem;
    color:rgb(87 202 210);
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0.5rem;  
    
}   
.foto__li{
    width: 1.5625rem;
    margin-top: -0.5rem;
    margin-right: 0.625rem;
    position:relative;
    
}
.all1{
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
    line-height: 0.7;
    
}
.link{
    text-decoration:none;
    color:aliceblue;
}
